####################################################
# .env.development Configuration File
####################################################
# This file serves as a template for configuring environment variables essential for the development environment.
# Adjust these settings to align with your specific development needs and infrastructure requirements.

####################################################
# APPLICATION ENVIRONMENT
# Purpose: Defines the operating mode of the application (development, test, production).
# Use: Toggle features or behaviors based on the application environment.
####################################################
NEXT_PUBLIC_NODE_ENV=development

####################################################
# GITHUB
# Purpose: Contains the link to the GitHub repository for the project.
# Use: Provide a reference to the project's source code repository.
####################################################
NEXT_PUBLIC_GITHUB_REPOSITORY=https://github.com/[username]/[repositoryName]

####################################################
# SERVER CONFIGURATION
# Purpose: Contains settings pertinent to the application server, such as port and API version.
# Use: Facilitate running the server with environment-specific configurations.
####################################################
NEXT_PUBLIC_PORT=5000
NEXT_PUBLIC_VERSION=v1

####################################################
# DATABASE CONFIGURATION
# Purpose: Configuration settings for the application's database connection.
# Use: Establish and manage the connection to the MongoDB database.
####################################################
NEXT_PUBLIC_MONGODB_URL=mongodb+srv://[clusterName]:[password]@cluster0.50yg5.mongodb.net/[databaseName]?retryWrites=true&w=majority&appName=Cluster0
NEXT_PUBLIC_REDIS_URL="redis://default:[password]@[redisHost]:[port]"

####################################################
# TIMEOUT CONFIGURATION
# Purpose: Defines the timeout settings for various operations in the application.
# Use: Configure timeout settings for operations that require a specific time limit.
####################################################
NEXT_PUBLIC_TIMEOUT_IN_SECONDS=120

####################################################
# CACHE CONFIGURATION
# Purpose: Defines settings for caching mechanisms used in the application.
# Use: Configure caching settings for various cache stores (e.g., Redis, Memcached).
####################################################
# 24 * 60 * 60 * 1000 = 86400 ms (1 day)
NEXT_PUBLIC_CACHE_TTL_IN_SECONDS=86400

####################################################
# API URL CONFIGURATION
# Purpose: Defines the base URL for API requests within the application.
# Use: Ensure that the application makes API requests to the correct server URL.
####################################################
NEXT_PUBLIC_API_URL=
